{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col main-title">
            <h1 class="">Home Page</h1>
        </div>
    </div>
</div>
{% endblock %}

{% block search %}
    {% include 'includes/searchbar.html' %}
{% endblock %}


{% block content %}
    
        <div class="row">
            <div class=" col-12 col-md-6 col-xl-4">
            <div id="homecarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-target="#homecarousel" data-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-target="#homecarousel" data-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-target="#homecarousel" data-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-target="#homecarousel" data-slide-to="3" aria-label="Slide 4"></button>
                </div>
                <div class="carousel-container">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{{ MEDIA_URL }}pexels-andres-ayrton-6551145.jpg" class="d-block w-100" alt="protein man">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Supplements</h5>
                                <p>We're here with a selection of protein supplements to help reach your goal</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{{ MEDIA_URL }}pexels-li-sun-2475878.jpg" class="d-block w-100" alt="dumbbell woman">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Home Gym Equipment</h5>
                                <p>We have a selection of cardio and strength equipment available</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{{ MEDIA_URL }}pexels-ketut-subiyanto-4436347.jpg" class="d-block w-100" alt="watch woman">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Fitness Trackers</h5>
                                <p>Check out our range of fitness trackers to keep on track</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="{{ MEDIA_URL }}pexels-rainer-eck-4811385.jpg" class="d-block w-100" alt="pullup woman">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-target="#homecarousel" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="carousel-text">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-target="#homecarousel" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="carousel-text">Next</span>
                    </button>
                    </div>
                </div>
            </div>
            
        </div>
{% endblock %}

