{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col main-title">
            <h1>Store</h1>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}



<div class="row">
{% for product in products %}

        <div class="col-12 col-md-6 col-xl-3">
            <div class="card product-card" >
                <div class="container">
                    {% if product.image %}
                    
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top" src="../media/{{ product.image }}" alt="{{ product.product }}">
                        </a>
                    
                    {% endif %}
                    <div class="card-body">
                        <p class="card-category">{{ product.category }}</p>
                        <p class="mb-0">{{ product.brand }} {{ product.product }}</p>
                        <p>£{{ product.price }}</p>
                        <div class="row">
                            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                                {% csrf_token %}
                                    quantity = 1 processor here
                                <input type="submit" class="card-btn " value="Add to Bag">
                                
                            </form>
                            <a href="{% url 'product_detail' product.id %}" class=""><button class="card-btn">Product Details</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% endfor %}
</div>

    
    
{% endblock %}

