{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col main-title">
            <h1>Store</h1>
        </div>
    </div>
</div>

{% endblock %}

{% block search %}
    {% include 'includes/searchbar.html' %}
{% endblock %}

{% block content %}
<div class="row">
{% if request.user.is_superuser %}
    <a href="{% url 'add_product'%}" class="add-product">Add a Product</a> 
{% endif %}
</div>

<div class="row">




{% for product in products %}

        <div class="col-12 col-md-6 col-xl-3">
            <div class="card product-card" >
                <div class="container">
                    {% if product.image %}
                    
                        <a href="{% url 'product_detail' product.id %}">
                            <img class="card-img-top" src="../media/{{ product.image }}" alt="{{ product.product }}">
                        </a>
                    
                    {% endif %}
                    <div class=" card-body card-body-store">
                        <p class="card-category">{{ product.category }}</p>
                        <p class="mb-0">{{ product.brand }} {{ product.product }}</p>
                        <p>£{{ product.price }}</p>
                        <div class="row">
                            <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                                {% csrf_token %}                            
                            </form>
                            <a href="{% url 'product_detail' product.id %}" class=""><button class="regular-btn">Product Details</button></a>

                            {% if request.user.is_superuser %}
                                <a href="{% url 'edit_product' product.id %}"><button class="regular-btn">Edit</button></a> 
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% endfor %}
</div>

    
    
{% endblock %}

