{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col main-title">
                <h1>Checkout Complete</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr class="umber-rule">
                <h2 class="umber-text mb-4">Thank You</h2>
                <hr class="umber-rule">
                <p class="umber-text">Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="order-confirmation-wrapper p-2 border">
                    <div class="row">
                        <div class="col">
                            <small class="umber-text">Order Info:</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="umber-text font-weight-bold">Order Number</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 umber-text">{{ order.order_number }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="umber-text font-weight-bold">Order Date</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 umber-text">{{ order.date }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <small class="umber-text">Order Details:</small>
                        </div>
                    </div>

                    {% for item in order.lineitems.all %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="small mb-0 umber-text font-weight-bold">
                                {{ item.product.brand }}{{ item.product.product }}
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="small mb-0 umber-text">{{ item.quantity }} @ £{{ item.product.price }} each</p>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="row">
                        <div class="col">
                            <small class="umber-text">Delivering To:</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 umber-text font-weight-bold">Full Name</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 umber-text">{{ order.first_name }} {{ order.last_name }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 umber-text font-weight-bold">Address 1</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 umber-text">{{ order.street_address1 }}</p>
                        </div>
                    </div>

                    {% if order.street_address2 %}
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 umber-text font-weight-bold">Address 2</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-0 umber-text">{{ order.street_address1 }}</p>
                            </div>
                        </div>
                    {% endif %}

                    {% if order.county %}
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 umber-text font-weight-bold">County</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-0 umber-text">{{ order.county }}</p>
                            </div>
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 umber-text font-weight-bold">Town or City</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 umber-text">{{ order.town_or_city }}</p>
                        </div>
                    </div>

                    {% if order.postcode %}
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 umber-text font-weight-bold">Postal Code</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-0 umber-text">{{ order.postcode }}</p>
                            </div>
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 umber-text font-weight-bold">Country</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 umber-text">{{ order.country }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 umber-text font-weight-bold">Phone Number</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 umber-text">{{ order.phone_number }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <small class="umber-text">Billing Info:</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 umber-text font-weight-bold">Grand Total</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 umber-text">{{ order.grand_total }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
			<div class="col-12 col-lg-7 text-right">
				<a href="{% url 'store' %}" class="btn regular-btn my-2">
					<span class="icon mr-2">
						<i class="fas fa-gifts"></i>
					</span>
					<span class="text-uppercase umber-text">Now check out the latest deals!</span>
				</a>
			</div>
		</div>
    </div>
{% endblock %}