/*
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
*/



:root{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    --baby-blue-eyes: #9ac4f8ff;
    --vivid-burgundy: #a30b37ff;
    --rosy-brown: #cb958eff;
    --celadon: #a7e8bdff;
    --orange-yellow-crayola: #ffd972ff;
}

body{
    margin:0;
    padding:0;
}
body::-webkit-scrollbar{
    width: 0.5rem;
}
body::-webkit-scrollbar-track{
    color:black;
}
body::-webkit-scrollbar-thumb{
    color:blue;
}

.nav-link{
    text-decoration: none;
    color: white;
    text-align: center;
}

.main-title{
    text-align: center;
    margin: 1rem 0 0 1rem;
    font-family: 'Playfair Display', serif;
}

.bg-dark{
    background-color: #9ac4f8ff;
}

.navbar-toggler:active{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);

    transition: transform 2s;
}

.navbar-toggler{
    transform: rotate(0deg);

    transition: 0s;
}

.nav-link{
    color: var(--vivid-burgundy);
}

.session-user{
    color:#9ac4f8ff;
}




