/*
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;

    --baby-blue-eyes: #9ac4f8ff;
    --vivid-burgundy: #a30b37ff;
    --rosy-brown: #cb958eff;
    --celadon: #a7e8bdff;
    --orange-yellow-crayola: #ffd972ff;
*/



:root{
    font-size: 10px;
    font-family: 'Roboto', sans-serif;

    --baby-blue-eyes: #9ac4f8ff;
    --vivid-burgundy: #a30b37ff;
    --rosy-brown: #cb958eff;
    --celadon: #a7e8bdff;
    --orange-yellow-crayola: #ffd972ff;
    --french-bistre: #816A5F;
    --umber: #6A574E;

    --blue-bell: #A2A0CF;
    --middle-blue-purple: #7D7ABC;
    --honeydew: #D8E8D8;
    --torquise-green: #B8D5B8;
}

body{
    margin:0;
    padding:0;
}
/*---------------------------------------------------Scrollbar*/
body::-webkit-scrollbar{
    width: 1rem;
}
body::-webkit-scrollbar-track{
    background-color:var(--torquise-green);

}
body::-webkit-scrollbar-thumb{
    background-color:var(--honeydew);
    border: 0.1rem solid var(--torquise-green);
    border-radius: 100vw;
}
/*---------------------------------------------------Navbar*/
.nav-wrapper{
    background-color: var(--torquise-green);
    width: 100%;
    position: fixed;
    z-index: 10;
}

.bg-custom{
    background-color: var(--torquise-green);
    margin:0;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(129, 106, 95, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    font-size: 1.5rem;;
}

.navbar-toggler-icon:hover,
.navbar-toggler-icon:active{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(106, 87, 78, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link{
    text-align: center;
    color:var(--french-bistre);
    border: 1px solid transparent;
    margin: 0 2rem 0 2rem;
}

.nav-link:hover{
    color: var(--umber);
    border: 1px solid var(--umber);
    background-color: var(--honeydew);
}

.checkout{
    position: fixed;
    right: 2rem;
    margin: 0;
}

.nav-link-bag{
    text-align: center;
    color:var(--french-bistre);
}

.nav-link-bag:hover{
    color: var(--umber);
    text-decoration: underline;
    font-size: 1.2rem;
}
.session-user{
    color: white;
}

/*---------------------------------------------------Content*/
.main-title{
    text-align: center;
    margin: 4rem 0 0 1rem;
    font-family: 'Playfair Display', serif;
    color: var(--umber);
}
.regular-btn{
    margin: auto 1rem auto 1rem;
    background-color: white;
    border-color: black;
    border-radius: 5px;
}

/*---------------------------------------------------Home*/
.carousel-container{
    width: 70%;
    margin: auto;
    height: 65vh;
}

.carousel-item img{
    height: 65vh;
}

.carousel-control-prev{
    background-color: white;
    color: var(--umber);
}

}

.carousel-control-next{
    background-color: white;
    color: var(--umber);

}

.carousel-text{
    color: var(--umber);
}



/*---------------------------------------------------Store*/
.sort-container{
    text-align: center;
}
.sort-btn{
    display:inline-block;
    margin: 1rem 0 1rem 0;
    background-color: white;
    border-color: black;
    border-radius: 5px;
}
.sort-link{
    text-decoration: none;
    color: var(--umber);
}
.sort-link:hover{
    text-decoration: none;
    color: var(--umber);
}
.product-card{
    width: 80%;
    margin: 2rem auto 2rem auto;
    height: 60vh;
    border: none;
}

.product-card:hover{
    width: 85%;
}

.card-img-top{
    width:70%;
    display: block;
    margin: auto;
    border:1px var(--umber);
}

.card-body-store{
    width:70%;
    display: block;
    margin: auto;
    bottom: 1rem;
    background-color: var(--torquise-green);
}

.card-body.hover{
    background-color: var(--honeydew);
}

.card-text{
    color: var(--umber);
}

.card-btn{
    margin:  auto 1rem auto 1rem;
    background-color: var(--blue-bell);
}

.card-category{
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
}

.add-product{
    text-align: center;
    text-decoration: none;
    margin: auto;
}

/*---------------------------------------------------Toasts*/
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/*---------------------------------------------------Media Queries*/

@media (min-width: 576px){
    .product-card{
        height: 50vh;
    }

}

@media (min-width: 768px){
    :root{
        font-size: 15px;
    }
    .nav-link{
        margin: 0 5rem 0 5rem;
    }
    .main-title{
        margin: 7rem 0 0 1rem;
    }
    .product-card{
        height: 40vh;
        width:90%;
    }
}

@media (min-width: 992px){
    .product-card{
        width:80%;
    }
}