
<nav class="charcoal-back">
    <div class="nav-wrapper">
    {% if request.user.is_authenticated %}
        
    {% endif %}
    <div class="pos-f-t">
      <div class="collapse" id="navbarToggleExternalContent">
        {% if session.user %}
              <div class="bg-dark p-4">
                <span><a href="#" class="nav-link">Browse Our Selection Of Fitness Equipment</a></span>

                <span class="session-user">Logged in</span>
              </div>
        {% else %}
        
              <div class="bg-dark p-4">
                <div class="row">
                  <span class="col-4"><a href="{% url 'store' %}" class="nav-link">Browse Our Selection Of Fitness Equipment</a></span>
                  <span class="col-4"><a href="{% url 'account_login' %}" class="nav-link">Login</a></span>
                  <span class="col-4"><a href="{% url 'account_signup' %}" class="nav-link">Register</a></span>
                </div>
              </div>
        {% endif %}
      </div>
    </div>
        <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        </nav>




    </ul>
    </div>
</nav>