<div class="row">
    <div class="col-4"></div>



    <div class="col-4 my-auto py-1 py-lg-0">
        <form method="GET" action="{% url 'store' %}">
            <div class="input-group w-100">
                <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                <div class="input-group-append">
                    <button class="form-control btn border " type="submit">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>


</div>

<form method="GET" action="{% url 'store' %}">
    <div class="row">
      <div class="col-12">
        <div class="sort-container">
          <button class="sort-btn"><a href="{% url 'store' %}?sort=price&direction=asc" class="sort-link">By Price</a></button>
          <button class="sort-btn"><a href="{% url 'store' %}?sort=brand&direction=desc"  class="sort-link">By Brand</a></button>
          <button class="sort-btn"><a href="{% url 'store' %}?sort=category&direction=asc" class="sort-link">By Category</a></button>
          <button class="sort-btn"><a href="{% url 'store' %}" class="sort-link">All Products</a></button>
        </div>
      </div>
    </div>
    </form>