<div class="row">
    <div class="col-2 col-lg-4"></div>



    <div class="col-8 col-lg-4 my-auto py-1 py-lg-0">
        <hr class="umber-rule">
        <form method="GET" action="{% url 'store' %}">
            <div class="input-group w-100">
                <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                <div class="input-group-append">
                    <button class="form-control btn border " type="submit">
                        <span class="icon">
                            <i class="fas fa-search umber-text"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>


</div>

<form method="GET" action="{% url 'store' %}">
    <div class="row row-margin">
      <div class="col-12">
        <div class="sort-container">
            Sort By:
          <a href="{% url 'store' %}?sort=price&direction=asc" class="sort-link btn regular-btn sort-btn">By Price</a>
          <a href="{% url 'store' %}?sort=brand&direction=desc"  class="sort-link btn regular-btn sort-btn">By Brand</a>
          <a href="{% url 'store' %}?sort=category&direction=asc" class="sort-link btn regular-btn sort-btn">By Category</a>
          <a href="{% url 'store' %}" class="sort-link btn regular-btn sort-btn">All Products</a>
        </div>
      </div>
    </div>

</form>