{% extends "base.html" %} 
{% load static %}
{% load crispy_forms_tags %}



{% block blog_content %}
<div class="container header-container">
    <div class="row">
        <div class="col main-title">
            <h1 >Blog</h1>
            <hr class="umber-rule">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
        <!-- Blog Entries Column -->
            {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="blog-title">{{ post.title }}</h2>
                    <hr class="umber-rule">
                    <p class="umber-text h6">{{ post.author }} | {{ post.created_on}} </p>
                    <p class="umber-text">{{post.content|slice:":200" }}...</p>
                    <a href="{% url 'post_detail' post.slug  %}" class="btn regular-btn">Read More <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
            
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% endblock %}

