{% extends "blog/blog.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block post_list_content %}
{% if request.get_full_path == "/blog/" %}
    <div class="d-none">
{% endif %}
        
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 card mb-4 top">
              <div class="card-body">
                <h1 class="blog-title">{% block title %} {{ post.title }} {% endblock title %}</h1>
                <p class="umber-text h6">{{ post.author }} | {{ post.created_on }}</p>
                <p class="umber-text ">{{ post.content | safe }}</p>
            </div>
  
            </div>
            
            <div class="col-12 card mb-4 ">
                <div class="card-body">
                    {% with comments.count as total_comments %}
                    {% if total_comments == 1 %}
                        <h2 class="blog-title">{{ total_comments }} comment</h2>
                    {% else %}
                        <h2 class="blog-title">{{ total_comments }} comments</h2>
                    {% endif %}

                    <p>
                    {% endwith %} {% for comment in comments %}
                    </p>

                    <div class="comments umber-text" style="padding: 10px;">
                        <p class="umber-text h6">
                            {{ comment.name }}
                            <span class="umber-text h6">
                                    {{ comment.created_on }}
                                </span>
                        </p>
                        {{ comment.body | linebreaks }}
                    </div>
                {% endfor %}
                </div>
            </div>
            <div class="col-12 card mb-4 ">
                <div class="card-body">
                    {% if new_comment %}
                        <div class="alert alert-success" role="alert">
                            Your comment is awaiting moderation
                        </div>
                    {% else %}
                        <h3 class="blog-title">Leave a comment</h3>
                        <form method="post" style="margin-top: 1.3em;">
                            {{ comment_form | crispy }}
                            {% csrf_token %}
                            <button type="submit" class="btn regular-btn btn-lg">Submit</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% if request.get_full_path == "https://8000-apricot-wildcat-94unz59b.ws-eu18.gitpod.io/blog/" or request.get_full_path == "https://milestone-project-4-willdeakin.herokuapp.com/blog/" %}
</div>
{% endif %}

{% endblock %}