{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}


    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Roboto:wght@500&display=swap" rel="stylesheet">
    {% endblock %}


    {% block corejs %}
        <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% endblock %}

    <title>Fitness Centre {% block extra_title %}{% endblock %}</title>

</head>
<body>

  {% include 'includes/navbar.html' %}


    <div class="nav-wrapper">

        <div class="pos-f-t">
          <div class="collapse" id="navbarToggleExternalContent">
            {% if request.user.is_authenticated %}
                  <div class="bg-custom p-4">
                      <div class="row">
                        <span class="col-3"><a href="{% url 'home' %}" class="nav-link">Home</a></span>
                        <span class="col-3"><a href="{% url 'store' %}" class="nav-link">Browse Our Selection Of Fitness Equipment</a></span>
                        <span class="col-3 "><a href="{% url 'profile' %}" class="nav-link">Profile</a></span>
                        <span class="col-3"><a href="{% url 'account_logout' %}" class="nav-link">Logout</a></span>
                        <span class="session-user">Logged in</span>
                    </div>
                  </div>
            {% else %}

                  <div class="bg-custom p-4">
                    <div class="row">
                      <span class="col-3"><a href="{% url 'home' %}" class="nav-link">Home</a></span>
                      <span class="col-3"><a href="{% url 'store' %}" class="nav-link">Browse Our Selection Of Fitness Equipment</a></span>
                      <span class="col-3 "><a href="{% url 'account_login' %}" class="nav-link">Login</a></span>
                      <span class="col-3"><a href="{% url 'account_signup' %}" class="nav-link">Register</a></span>
                    </div>
                  </div>
            {% endif %}
          </div>
        </div>
            <nav class="navbar navbar-dark bg-custom">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <span class="checkout"><a href="{% url 'bag' %}" class="nav-link-bag"><i class="fas fa-shopping-bag"></i> Bag</a></span>
            </nav>
      </div>


        <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            All Products
        </a>


        

      

    {% block page_header %}
    {% endblock %}
    
    {% include 'includes/searchbar.html' %}



    <form method="GET" action="{% url 'store' %}">
    <div class="row">
      <div class="col-12">
        <div class="dropdown-menu border-0" aria-labelledby="sort-by-link"></div>
          <span><a href="{% url 'store' %}?sort=price&direction=asc" class="dropdown-item">By Price</a></span>
          <span><a href="{% url 'store' %}?sort=brand&direction=desc" class="dropdown-item ">By Brand</a></span>
          <span><a href="{% url 'store' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a></span>
          <span><a href="{% url 'store' %}" class="dropdown-item">All Products</a></span>
        </div>
        <div class="dropdown-menu border-0" aria-labelledby="filter-by-link">
          <a href="{% url 'store' %}?category=supplements" class="dropdown-item">Supplements</a>
          <a href="{% url 'store' %}?category=home gym equipment" class="dropdown-item">Home Gym Equipment</a>
          <a href="{% url 'store' %}?category=fitness tracker" class="dropdown-item">Fitness Trackers</a>
        </div>
      </div>
    </div>
    </form>

    {% block content %}
    {% endblock %}

    <p class="red">vbnfdbvhfb</p>

    <div class="long"></div>

</body>


</html>